<!doctype html>
<html>
  <head>
    <style>
      body{
        background-color:gray
      }
      #position-set{
        position: absolute;
        left:50%;
        top:100px;
        transform: translate(-50%,0);
      }
      #mainform{
        background-color:rgb(255, 255, 255);
        height: 400px;
        width: 350px;
        box-shadow: 0px 0px 10px 0px black;
        overflow:scroll;
        overflow-x:hidden;
      }
      #sendform{
        margin-top:10px;
      }
      #name{
        width: 60px;
      }
      #m{
        width: 220px;
      }
      h1{
        text-align: center;
      }
      ul li{
        list-style:none;
        padding-left: 0px;
        font-size :12px;
      }
    </style>
    <title>Socket.IO chat</title>
  </head>
  <body>
    <div id = "position-set">
      <h1>Chat App</h1>
      <div id = "mainform">
        <ul id="messages"></ul>
      </div>
      <div id = "sendform">
        <form action="">
          <input id="name" placeholder="name">
          <input id="m" autocomplete="off" placeholder="contents" /> 
          <button class="btn">Send</button>
        </form>
      </div>
    </div>
   

  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>

    var form =document.querySelector("form");
    var userName = document.getElementById("name");
    var chat_contents =document.getElementById('m');
    var message = document.getElementById("messages");
    var btn = document.querySelector(".btn");
    var socket = io();
    var enter = false;
    var formchk = false;
    //var user = "";
    //var msg = "";
   // body.onload = ()=>{
   //   alert(name)
   // 
   socket.on('chat m',(e)=>{
          console.log(e)
          
          var li = document.createElement("li")

          if(formchk){
            li.style.color = "blue"
            formchk = false;
          }else{
            li.style.color = "black"
            formchk = false;
          }

          if(e.enter === true){
            console.log(`${e.username} : ${e.msg}`)
            li.innerHTML = `"${e.username}"님의 말 : ${e.msg}`
            message.appendChild(li)
          }else{
            console.log(`${e.username} : ${e.msg}`)
            li.innerHTML =  e.msg
            message.appendChild(li)
            enter = true;
            console.log(e.enter)
          }
  });

   document.querySelector("body").onload = ()=>{
      var name = prompt("너의 이름은?");
      userName.value = name
      if(name === null || name===""){
        userName.value = "anon"
        alert("닉네임을 재설정해주세요!")
      }
        chat_contents.value = `****"${userName.value}님"이 입장하였습니다.*****`
      console.log(socket.id)
      btn.click()
   }


    (function init() { 
        form.addEventListener("submit",(e)=>{
            formchk = true;
            e.preventDefault();
            if(userName.value === "") {
              alert("사용자이름을 지정해주세요!")
              return;
            }
            else{
              if(chat_contents.value !== ""){
                // prevents page reloading
                socket.emit('chat m', {"enter":enter,"username": userName.value, "msg" :chat_contents.value});
                chat_contents.value ="";
                return false;
              }
          }
      }); 
    })()
  </script>
</html>