<!doctype html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: rgb(201, 201, 201); padding: 3px; position: fixed; bottom: 0; width: 100%; }
      form #m { border: 1; padding: 10px; width: 60%; margin-right: 0.5%; }
      form #name { border: 1; padding: 10px;margin-right: 0.5%; }
      form input{ border-style: solid; border-color: black; border-width: 1px;}
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      </style>
  </head>
  <body>
    <div id = "mainform">
      <ul id="messages"></ul>
      <form action="">
        <input id="name" placeholder="name">
        <input id="m" autocomplete="off" placeholder="contents" /><button>Send</button>
      </form>
    </div>

  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var form =document.querySelector("form");
    var userName = document.getElementById("name");
    var chat_contents =document.getElementById('m');
    var message = document.getElementById("messages");
    var socket = io();
    //var user = "";
    //var msg = "";
    (function init() {
      form.addEventListener("submit",(e)=>{
        e.preventDefault();
        if(userName.value === "") {
          alert("사용자이름을 지정해주세요!")
          return;
        }
        else{
          if(chat_contents.value !== ""){
            // prevents page reloading
            socket.emit('chat m', {"username": userName.value, "msg" :chat_contents.value});
            chat_contents.value ="";
            return false;
          }
        }
      });

      socket.on('chat m',(e)=>{
        console.log(`${e.username} - ${e.msg}`)
        var li = document.createElement("li")
        li.innerHTML = `${e.username} - ${e.msg}`
        message.appendChild(li)
      });  
    })()
  </script>
</html>