<!doctype html>
<html>
  <head>
    <style>
      body{
        background-color:gray
      }
      #position-set{
        position: absolute;
        left:50%;
        top:100px;
        transform: translate(-50%,0);
      }
      #mainform{
        background-color:rgb(255, 255, 255);
        height: 400px;
        width: 350px;
        box-shadow: 0px 0px 10px 0px black;
        overflow:scroll;
        overflow-x:hidden;
      }
      #sendform{
        margin-top:10px;
      }
      #name{
        width: 60px;
      }
      #m{
        width: 220px;
      }
      h1{
        text-align: center;
      }
      ul li{
        list-style:none;
        padding-left: 0px;
        font-size :12px;
      }
    </style>
    <title>Socket.IO chat</title>
  </head>
  <body>
    <div id = "position-set">
      <h1>Chat App</h1>
      <div id = "mainform">
        <ul id="messages"></ul>
      </div>
      <div id = "sendform">
        <form action="">
          <input id="name" placeholder="name">
          <input id="m" autocomplete="off" placeholder="contents" />
          
          <button>Send</button>
        </form>
      </div>
    </div>
   

  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var form =document.querySelector("form");
    var userName = document.getElementById("name");
    var chat_contents =document.getElementById('m');
    var message = document.getElementById("messages");
    var socket = io();
    //var user = "";
    //var msg = "";
    (function init() {
      form.addEventListener("submit",(e)=>{
        e.preventDefault();
        if(userName.value === "") {
          alert("사용자이름을 지정해주세요!")
          return;
        }
        else{
          if(chat_contents.value !== ""){
            // prevents page reloading
            socket.emit('chat m', {"username": userName.value, "msg" :chat_contents.value});
            chat_contents.value ="";
            return false;
          }
        }
      });

      socket.on('chat m',(e)=>{
        console.log(`${e.username} : ${e.msg}`)
        var li = document.createElement("li")
        li.innerHTML = `"${e.username}"님의 말 : ${e.msg}`
        message.appendChild(li)
      });  
    })()
  </script>
</html>